<span style="font-size: 50px; color: #008000; font-weight: bold;"> The World's Billionaires</span>

<span style="font-size: 15px; color: #FF69B4; font-weight: bold;"> Group Number 18</span>

<span style="font-size: 13px; color: #FF1493; font-weight: bold;"> Group Members: Ohav Zach, Hadar.... </span>

https://www.kaggle.com/datasets/endofnight17j03/billionaires-statistics-dataset

<!DOCTYPE html>
<html>
<head>
    <style>
        @keyframes sparkly {
            0% { color: gold; }
            25% { color: #ffd700; }
            50% { color: gold; }
            75% { color: #ffd700; }
            100% { color: gold; }
        }

        .sparkly-text {
            font-size: 36px;
            font-weight: bold;
            animation: sparkly 2s infinite;
        }
    </style>
</head>
<body>
    <span class="sparkly-text">World's Most Billionaires</span>
</body>
</html>


<img src="https://github.com/ohav3737/Projrct-Billionaires-Statistics/blob/main/ca_billionaires_money_istock1.jpg?raw=true" width="800"/>

<!DOCTYPE html>
<html>
<head>
    <style>
        @keyframes sparkly {
            0% { color: gold; }
            25% { color: #ffd700; }
            50% { color: gold; }
            75% { color: #ffd700; }
            100% { color: gold; }
        }

        .sparkly-text {
            font-size: 36px;
            font-weight: bold;
            animation: sparkly 2s infinite;
        }
    </style>
</head>
<body>
    <span class="sparkly-text">World's Most Billionaires</span>
</body>
</html>

<span style="font-size: 20px; color:  #008000; font-weight: bold;"> 
Introduction:</span>

The world's most billionaires list highlights the unmatched wealth accumulated by individuals worldwide, providing insight into their varied paths to success and the changing landscape of wealth generation across different sectors.

In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
bill_df = pd.read_csv('Billionaires-Statistics.csv')

In [2]:
bill_df.head(5)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [3]:
bill_df.shape

(2640, 35)

In [4]:
bill_df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [5]:
bill_df.isnull().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64